@import "libs"
@import "vars"
@import "fonts"

*::-webkit-input-placeholder
	color: #000
	font-weight: 400

*:-moz-placeholder
	color: #000
	font-weight: 400

*::-moz-placeholder
	color: #000
	font-weight: 400

*:-ms-input-placeholder
	color: #000
	font-weight: 400

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	display: none

input[type="search"]::-ms-clear
	display: none

a
	color: #fff
	text-decoration: none		
	
	&:focus
		color: $orange
		outline: none

button
	cursor: pointer
	color: #fff
	font-size: 15px
	font-family: $default-font
	letter-spacing: 0.02em

	&:focus
		color: $orange
		outline: none

.hidden
	width: 1px
	height: 1px
	position: absolute
	left: -99999px
	margin: -1px

.h2
	font-family: $roboto-font
	font-weight: 700
	font-size: 48px
	color: $accent


.container
	margin: 0 auto

	@media (min-width: 1400px)
		width: 1320px

	@media (min-width: 1920px)
		width: 1600px

html, body
	height: 100%

body
	margin: 0
	font-size: 15px
	letter-spacing: 0.02em
	color: #fff
	min-width: 320px
	font-family: $default-font
	overflow-x: hidden

.main-header
	width: 100%
	box-shadow: 0px 3px 24px rgba(0, 0, 0, 0.08)

	&__top
		background-color: $accent
		min-height: 40px
		border-radius: 0 0 25px 25px
		padding: 0 1.5% 0 1.5%
		display: flex
		justify-content: space-between

	&__content
		padding: 16px 0 18px 0
		display: flex
		justify-content: space-between
		align-items: center
	
	&__logo
		transition: transform .2s ease-in-out

		&:hover, &:focus
			transform: scale(1.05)

	&__slogan
		font-family: $minor-font
		font-size: 14px
		line-height: 22px
		letter-spacing: 0.02em
		color: #828282
		display: block	
		width: 184px
		text-align: center
	
	&__search
		width: 47.5%
		position: relative

		&-input
			font-size: 15px
			letter-spacing: .02em
			width: 100%
			border: 0
			background-color: #F4F4F4
			border-radius: 50px
			padding-left: 69px
			font-family: $minor-font
			font-weight: 500
			min-height: 52px
			color: #000
			cursor: pointer
			outline: 2px solid #F4F4F4
			transition: outline-color .2s ease-in-out

			&:hover, &:focus
				outline-color: $accent
		
		&-button
			padding: 0
			background-color: transparent
			border: 0
			position: absolute
			top: 13px
			left: 17px

			&:focus
				.main-header__search-svg
					fill: $orange
		
		&-clear
			position: absolute
			right: 13px
			top: 13px
			border: 0
			padding: 0
			background-color: transparent

			&:focus
				.main-header__search-svg
					fill: $orange

		&-svg
			fill: $accent
			transition: fill .2s ease-in-out

			&:hover
				fill: $orange
		
	&__button
		display: flex
		align-items: center
		color: #404040

		&:hover, &:focus
			text-decoration: underline

			.basket__count
				background-color: $orange
		
			.main-header__svg
				fill: $orange
	
	&__svg
		margin-right: 17px
		fill: $accent
		transition: fill .2s ease-in-out

		&:hover
			fill: $orange	
	
	&__count
		&:hover
			background-color: $orange

.basket
	position: relative

	&__svg
		fill: $accent

	&__count
		font-family: $acrom-font
		color: #fff
		font-size: 12px
		background-color: $accent
		border-radius: 100px
		display: block
		padding: 1px 7px
		position: absolute
		top: -1px
		left: 11px
		transition: background-color .2s ease-in-out

.menu
	&__list
		display: flex
		list-style-type: none
		padding: 0

	&__item
		margin-right: 48px

		&:last-child
			margin-right: 0

	&__link
		display: flex
		align-items: center
		border-bottom: 1px solid transparent
		transition: border-bottom-color .2s ease-in-out

		&:hover
			border-bottom-color: #fff
			text-decoration: none
		
		&:focus
			.menu__link-svg
				stroke: $orange

		&-svg
			margin-left: 9px
			fill: transparent
			stroke: white

.info
	&__list
		display: flex
		list-style-type: none
		padding: 0

	&__item
		margin-left: 50px

	&__button
		background-color: transparent
		border: 0
		padding: 0

		&_dashed
			border-bottom: dashed
			border-bottom-color: rgba(#fff, .25)
			transition: border-bottom-color .2s ease-in-out

		&:hover
			.info__button_dashed
				border-bottom-color: #fff
		
		&:focus
			.info__button_dashed
				border-bottom-color: $orange

			.info__svg
				fill: $orange

	&__link
		&_solid
			border-bottom: 1px solid transparent
			transition: border-bottom-color .2s ease-in-out

		&:hover
			text-decoration: none

			.info__link_solid
				border-bottom-color: #fff

	&__link, &__button
		display: flex
		align-items: center

		&:focus
			.info__svg
				fill: $orange

	&__svg
		margin-right: 10px
		fill: white
		stroke: white

.promo
	&__slider	
		position: relative

		&-link
			height: 700px
			position: relative

			&::after
				content: ''
				width: 100%
				height: 100%
				position: absolute
				top: 0
				background-color: rgba(0, 0, 0, 0.2)
			
			&:hover
				.promo__slider-txt
					text-decoration: underline

			&:focus
				outline: none
				color: #fff

		&-img
			object-fit: cover
			width: 100%
			height: 100%
		
		&-txt
			z-index: 100
			font-family: $roboto-font
			font-weight: 700
			font-size: 64px
			position: absolute
			top: 40%	
			width: 100%
			text-align: center
		
		&-arrow
			border: 0
			background-color: transparent
			position: absolute
			top: 43%
			z-index: 100	
			padding: 0

			&_prev
				left: 48px
			
			&_next
				right: 48px
			
			&:hover
				.promo__slider-svg
					fill: $orange
		
		&-svg
			fill: white
			transition: fill .2s ease-in-out

.quantity
	width: 100%
	height: 40px
	margin-top: 15px
	margin-bottom: 12px
	position: relative

	&__input
		border: 0
		background-color: transparent
		color: #181717
		letter-spacing: 0.01em
		font-size: 18px
		height: 100%
		width: 100%
		background-color: #FAFAFA
		border-radius: 50px
		text-align: center
		cursor: pointer
		outline: 2px solid #FAFAFA
		transition: outline-color .2s ease-in-out

		&:hover, &:focus
			outline-color: $accent

	&__button
		padding: 16px
		position: absolute
		top: -1px
		background:
			color: transparent
			size: 12px 12px
			position: 50%
			repeat: no-repeat
		border: 2px solid transparent
		border-radius: 50%
		width: 44px
		height: 44px
		transition: background-image .2s ease-in-out
		
		&.minus
			left: -2px
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'%3E%3Crect width='13' height='2' x='.97' rx='1' fill='%23894083'/%3E%3C/svg%3E")	
		
			&:hover
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 2'%3E%3Crect width='13' height='2' x='.97' rx='1' fill='%23FF8600'/%3E%3C/svg%3E")	
				
		&.plus
			right: -6px
			background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Crect width='13' height='2' x='.97' y='5' rx='1' fill='%23894083'/%3E%3Crect width='12' height='2' x='8.47' rx='1' transform='rotate(90 8.47 0)' fill='%23894083'/%3E%3C/svg%3E")

			&:hover
				background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Crect width='13' height='2' x='.97' y='5' rx='1' fill='%23FF8600'/%3E%3Crect width='12' height='2' x='8.47' rx='1' transform='rotate(90 8.47 0)' fill='%23FF8600'/%3E%3C/svg%3E")

.offer
	&__title
		margin-top: 49px	

	&__wrap
		width: 85%
		margin: 0 auto
	
	&__cards
		position: relative

		&.slick-dotted.slick-slider 
			margin: 0
		
		.slick-list
			min-height: 620px

		.slick-dots
			bottom: 90px
			li
				height: 8px
				width: 8px
				display: none
				padding: 14px
				margin: 0

				button
					height: inherit
					width: inherit
					border-radius: 50%
					background-color: #BDBDBD
					cursor: pointer

					&:hover 
						background-color: rgba(255, 134, 0, 0.5)

				&.slick-active
					display: inline-block
					button
						background-color:#FF8700

		.slick-dots li.before, .slick-dots li.after
			display: inline-block
	
	&__item
		margin: 0 15px
		position: relative

		&:hover
			.offer__action
				display: flex
			
			.offer__info
				padding-bottom: 0
				border-radius: 22px 0 0 0
	
	&__info, &__action
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		align-items: center
	
	&__info
		padding: 46px 20px 22px
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08)
		border-radius: 22px 0 
		background-color: white
		transition: padding .1s ease-in-out
		position: absolute
	
	&__action
		padding: 0 20px 17px
		box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.08)
		border-radius: 0 0 22px 0
		background-color: white
		display: none
		position: absolute
		top: 440px
	
	&__img
		display: block
		margin: 0 auto 45px
		object-fit: contain
	
	&__status
		font-size: 14px
		color: $accent
	
	&__code
		font-weight: 300
		font-size: 14px
		color: #828282
		letter-spacing: normal

	&__desc
		min-height: 88px
		line-height: 22px
		color: #181717
		margin: 10px 0 15px
	
	&__price
		&-new
			color: #181717
			font-weight: 700
			font-size: 24px
			letter-spacing: normal
			margin-right: 6px

		&-old
			color: #828282
			text-decoration: line-through
			letter-spacing: .01em
			font-size: 18px
			font-weight: 300
	
	&__buy, &__add-basket
		font-weight: 700
		display: flex
		align-items: center
		justify-content: center
		border: 1px solid #894083
		border-radius: 50px
		padding: 0 16px
		letter-spacing: normal
	
	&__buy
		height: 38px
		color: $accent
		transition: color .2s ease-in-out, border-color .2s ease-in-out

		&:hover
			color: rgba(137, 64, 131, 0.5)
			border-color: rgba(137, 64, 131, 0.5)
	
	&__add-basket
		height: 40px
		color: white
		background-color: $accent
		transition: border-color .2s ease-in-out, background-color .2s ease-in-out

		&:hover
			background-color: rgba(137, 64, 131, 0.5)
			border-color: rgba(137, 64, 131, 0.5)
	
	&__tag
		padding: 3px 10px
		border-radius: 16px 0px
		margin-bottom: 2px
		font-weight: 700
		font-size: 12px
	
	&__tags
		display: flex
		flex-direction: column
		align-items: flex-start
		position: absolute
		top: 10px
		left: 10px
		
		&_action
			background-color:	#FDCA33
		
		&_new
			background-color: #8dc638
	
		&_rec
			background-color: #00C2CE

	&__like
		border: 0
		background: center / contain no-repeat url(../img/like.svg)
		width: 24px
		height: 21px
		transition: background-image .2s ease-in-out
		position: absolute
		top: 18px
		right: 17px

		&:hover, &.active
			background: center / contain no-repeat url(../img/like-active.svg)

	&__button
		&-svg
			fill: $orange
	
	&__arrow
		background-color: transparent
		border: 0
		top: 190px
		position: absolute

		&_prev
			left: -126px
		
		&_next
			right: -126px
		
		&:hover
			.offer__arrow-svg
				fill: $accent

		&-svg
			fill: $orange
			transition: fill .2s ease-in-out

.main-bg
	background: url(../img/bg.png) bottom -70px right 28px / 416px no-repeat

.main-footer
	background-color: $accent
	padding: 30px 0 54px
	width: 100%	

	&__wrap
		width: 90%
		margin: 0 auto
		display: flex
		flex-wrap: wrap
	
	&__nav
		width: 75%
		display: flex
		flex-wrap: wrap
	
	&__col
		width: 33.3333%
	
	&__contacts
		width: 25%
	
	&__title
		font-family: $roboto-font
		font-weight: 700
		font-size: 18px
		letter-spacing: 0.01em
		margin-bottom: 18px
		display: block
	
	&__list
		list-style-type: none
		padding: 0
	
	&__item
		font-family: $roboto-font
		margin-bottom: 10px
		display: flex
		align-items: center
	
	&__link
		transition: color .2s ease-in-out
		display: flex
		align-items: center

		&:hover
			color: rgba(255, 255, 255, 0.5)

			.main-footer__icon
				fill: rgba(255, 255, 255, 0.5)
	
	&__icon
		margin-right: 14px
		fill: white
		transition: fill .2s ease-in-out
	
	&__social
		margin-top: 24px
		display: flex

		&-link
			background-color: rgba(255, 255, 255, 0.15)
			width: 33px
			height: 33px
			display: flex
			justify-content: center
			align-items: center
			border-radius: 50%
			margin-right: 8px

			&:hover
				background-color: rgba(255, 255, 255, 0.5)




